In [3]:
import pandas as pd

In [13]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

with engine.connect() as conn:
    result = conn.execute(text("SELECT 1"))
    print(result.scalar())

1

In [20]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [21]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265