In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.3.3'

In [17]:
df = pd.read_csv('yellow_tripdata_2015-01.csv', nrows=100)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	pickup_longitude FLOAT(53),
	pickup_latitude FLOAT(53),
	"RateCodeID" BIGINT,
	store_and_fwd_flag TEXT,
	dropoff_longitude FLOAT(53),
	dropoff_latitude FLOAT(53),
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53)
)

In [31]:
df_iter = pd.read_csv('yellow_tripdata_2015-01.csv', iterator=True, chunksize=100000)

In [32]:
df_iter

In [33]:
df = next(df_iter)

In [34]:
len(df)

100000

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [39]:
%time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.07 s, sys: 93.9 ms, total: 3.17 s
Wall time: 5.14 s

1000

In [37]:
df.head(n=1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05

In [42]:
from time import time

In [47]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
print('inserted another chunk, took %.3f second' % (t_end - t_start))

StopIteration: